/*CSS file for Search Page*/
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    background-color: #252729;
}

header {
    position: sticky;
    top: 0;
    background-color: #076ac8;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

header .logo {
    display: inline-block;
}

header nav ul li {
    display: inline;
    font-size: larger;
    color: #fff;
}

a {
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.header-right {
    position: fixed;
    right: 0;
    padding: 10px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    position: sticky;
    top: 100px;
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #2c2e31;
    border: 1px solid #ddd;
    margin-right: 20px;
}

.right-section {
    width: 60%;
    float: left;
}

.left-section h2,
.right-section h2 {
    margin-top: 0;
    font-size: 24px;
    color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 2.5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
}

.notifications {
    display: flex;
}

input[type="text"],
input[type="password"],
textarea,
select,
.create-post {
    width: 90%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}

button {
    background-color: #42adf5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.big-button {
    width: 205px;
}

button:hover {
    background-color: #0b81d0;
}

.post {
    width: 90%;
    padding-inline: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.75;
}

.post-info {
    font-size: small;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-inline {
    display: inline;
}

footer {
    background-color: #0d0d0d;
    color: #f4f4f4;
    padding: 10px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    flex: 1;
    padding-left: 20px;
}

.footer-right {
    flex: 0.1;
    padding-right: 30px;
}