* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    position: relative;
}

header, nav, footer {
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #1B2735;
    opacity: 0.875;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav menu li a {
    color: #fff;
    text-decoration: none;
}

nav menu li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #ccc;
    font-size: 0.9rem;
    background: #1B2735;
    opacity: 0.95;
    padding-block: 2rem;
}

footer a {
    color: rgb(0, 221, 255);
    text-decoration: none;
}

footer a:visited {
    color: rgb(0, 221, 255);
}
  
hr {
    border: none;
    border-bottom: 1px solid #555;
    margin: 1rem 0;
}

.transparent-form {
    background: rgba(33, 53, 77, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 425px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.transparent-form h1, h2 {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 600;
}
  
.transparent-form input, .transparent-form select, .transparent-form textarea {
    border: none;
    outline: none;
    padding: 1rem 1.25rem;
    margin: 0.25rem 0;
    font-size: 1.25rem;
    border-radius: 9999px;
    background: linear-gradient(135deg, #114b65 0%, #04667e 100%);
    color: #fff;
}
  
::placeholder {
    color: rgba(205, 205, 205, 0.3);
}

.form-field {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
  
.transparent-form .form-field + .form-field {
    margin-top: 1rem;
}

.transparent-form .button-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}
  
.transparent-form button {
    background: #556677;
    width: 40%;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 9999px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
  
.transparent-form button:hover {
    background: #778899;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

.moving-stars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: moveLeft 40s linear infinite;
}

.moving-stars::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1 {
    animation-duration: 220s;
    background-image: url('./images/Stars.png');
}

.image1::after {
    background-image: url('./images/Stars.png');
}

.image2 {
    animation-duration: 205s;
    background-image: url('./images/Stars2.png');
}

.image2::after {
    background-image: url('./images/Stars2.png');
}

.image3 {
    animation-duration: 230s;
    background-image: url('./images/Stars3.png');
}

.image3::after {
    background-image: url('./images/Stars3.png');
}

@keyframes moveLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}