* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.play {
    flex: 1; 
    padding: 1rem;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

aside {
    width: 20%;
    padding: 1rem;
}

.play-area {
    flex: 1;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #1B2735;
    opacity: 0.875;
    padding-left: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav menu li a {
    color: #fff;
    text-decoration: none;
}

nav menu li a:hover {
    text-decoration: underline;
}

footer {
    flex-shrink: 0;    
    padding-block: 1.5rem;
    background: #1B2735;
    opacity: 0.95;
    text-align: center;
    color: #ccc;
    font-size: 0.9rem;
}

a {
    color: #00ddff;
    text-decoration: none;
}

a:visited {
    color: #00ddff;
}
  
body li {
    line-height: 1.75;
    padding-inline: 1rem;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-block: 1rem;
}

strong {
    color: #00ddff !important;
}

i { 
    color: #00ff0d !important;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab-link {
    background: #1B2735;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.5s ease;
}

.tab-link:hover {
    background: #34495e;
}

.tab-link:active {
    background: #17212d;
    color: #636363;
}

.tab-link:disabled {
    background: #17212d;
    color: #636363;
}

.transparent-form, section, .leaderboard {
    background: rgba(33, 53, 77, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 2rem;
    margin: 1rem auto;
    max-width: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard {
    margin-inline: 1rem;
}
  
.transparent-form h1, h2 {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 600;
}

h2 {
    margin-bottom: 1.5rem;
}
  
.transparent-form input, .transparent-form select, .transparent-form textarea {
    border: none;
    outline: none;
    padding: 1rem 1.25rem;
    margin: 0.25rem 0;
    font-size: 1.25rem;
    border-radius: 9999px;
    background: linear-gradient(135deg, #114b65 0%, #04667e 100%);
    color: #fff;
}

.user-input {
    border: none;
    outline: none;
    padding: 1rem 0rem;
    margin: 0.25rem 0;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 9999px;
    background: linear-gradient(135deg, #114b65 0%, #04667e 100%);
    color: #fff;    
}

.transparent-form ul, .play-area ul {
    padding-inline: 0;
    padding-block: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    justify-content: center;
}

.transparent-form li, .leaderboard li {
    list-style: none;
    background: #005562;
    color: black;
    font-weight: 700;
    border-radius: 9999px;
    margin-block: 1rem;
    text-align: center;
}

.leaderboard li {
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.transparent-form p {
    margin-block: 1rem;
    max-width: 75%;
}

section, .leaderboard {
    padding-inline: 3rem;
}

section p, .leaderboard p {
    margin-block: 2rem;
    max-width: 87.5%;
}
  
::placeholder {
    color: rgba(205, 205, 205, 0.3);
}

.form-field {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
  
.transparent-form .form-field + .form-field {
    margin-top: 1rem;
}

.transparent-form .button-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}
  
.transparent-form button, .user-submission, .submit-vote {
    background: #556677;
    width: 40%;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 9999px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.submit-vote {
    width: auto;
}
  
.transparent-form button:hover {
    background: #778899;
}

table {
    border-spacing: 0;
    margin-block: 1rem;
    color: #fff;
    table-layout: auto;
    width: auto;
}
  
table thead {
    background: #114b65;
}
  
table th, table td {
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    padding: 1rem;
    text-align: left;
    white-space: nowrap;
}
  
table tbody tr:nth-child(even) {
    background: rgba(255,255,255,0.05);
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.moving-stars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: moveLeft 40s linear infinite;
}

.moving-stars::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1 {
    animation-duration: 220s;
    background-image: url('./images/Stars.png');
}

.image1::after {
    background-image: url('./images/Stars.png');
}

.image2 {
    animation-duration: 205s;
    background-image: url('./images/Stars2.png');
}

.image2::after {
    background-image: url('./images/Stars2.png');
}

.image3 {
    animation-duration: 190s;
    background-image: url('./images/Stars3.png');
}

.image3::after {
    background-image: url('./images/Stars3.png');
}

@keyframes moveLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.scale-ends {
    width: 100%;
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
}

.slider-labels, .player-votes {
    width: 100%;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
}

.slider-labels td, .player-votes td {
    width: 10%;
    border: none;
    background: none;
    text-align: center;
    backdrop-filter: none;
    justify-content: center;
}

.player-votes td:not(:empty) {
    padding: 0;
    position: relative; 
}

.player-votes span {
    border-radius: 50%;
    color: black;
    font-weight: 700;
    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-height: 60%;
    margin: auto;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-votes tr {
    background: transparent !important;
}

#sliderContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

table.slider {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border:solid black 1px;
    border-radius:6px;
    overflow: hidden;
}

table.slider td {
    width: 10%;
    height: 30px;
    border: none;
    text-align: center;
    vertical-align: middle;
}
  
table.slider td.active {
    background-color: #4CAF50;
    color: #fff;
}

table.slider td.partial {
    background: linear-gradient(to right, #4CAF50 50%, transparent 50%);
}

#sliderKnob {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25%;
    border: 4px solid #00D2FF;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 2;
}